*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.dino{
    width: 60px;
    height: 60px;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-color: red;
}